* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  #wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  #container{
    background-color: gray;
    width: 300px;
    height: auto;
    padding: 20px;

  }


  .h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  #social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    
  }

  #social-media .facebook{
    background-color: rgb(12, 12, 117);
    color: white;
    padding: 15px;
    cursor: pointer;
  }

  #social-media .twitter{
    background-color: rgb(0, 195, 255);
    color: white;
    padding: 15px;
    cursor: pointer;
  }

  #social-media .instagram{
    background-color: rgb(255, 0, 106);
    color: white;
    padding: 15px;
    cursor: pointer;
  }

  #social-media i{
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin-bottom: 5px;
  }

  #social-media p{
    font-size: 10px;
    opacity: 0;
    text-align: center;
  }

  .clicked {
    border-radius: 10px;
    border: 2px solid white;
    transform:translateY(-15px);
    /* animation: appear 1s; */
    box-shadow: 10px 5px 5px rgb(255, 255, 255);
  }

  .clicked p{
    opacity: 1 !important; 
  }
 
/* @keyframes appear{
    from{
        transform:translateY(-15px);
    }
    to{
        transform:translateY(-15px);
    }
} */
