*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#wrapper{
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#carre{
    display: flex;
    flex-wrap: wrap;
    width: 420px;   
    gap: 20px;
}


.carreUn, .carreDeux, .carreTrois, .carreQuatre{
    width: 200px;
    height: 200px;
    cursor: pointer;
    background-color: rgb(105, 179, 105);
}

.clicked{
        background-color: rgb(201, 102, 102);
        animation: appear 1s; 
        
      }
      
@keyframes appear {
    from {
        transform: scale(0.9) rotate(360deg);
  }
}