* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  #quotes {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      /* background-color: rgb(177, 158, 158);
      border-radius: 10px;
      border: solid black 2px;
      width: 500px;
      height: 100px; */

  }

  .container{
    display: flex;
    background-color: rgb(177, 158, 158);
    border-radius: 10px;
    border: solid black 2px;
    width: 500px;
    height: 100px;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .citation{
    display: flex;
    width: 100%;
    height: 100%;
    color: aliceblue;
    justify-content: center;
    align-items: center;
  }

  .auteur{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-end;
    padding: 2%;
    color: white;    

  }

  .fav{
    color: rgb(194, 55, 55);
    padding: 2%;
    display: flex;
    justify-content: end;
    cursor: pointer;
  }
  
  .clicked{
    color: gold;
  }