* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  #wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
  }

  #container{
    display: flex;
    background-color: rgb(177, 158, 158);
    border-radius: 10px;
    border: solid black 2px;
    width: 500px;
    height: 100px;
    flex-direction: column;
  }

  .citation{
    display: flex;
    width: 100%;
    height: 100%;
    color: aliceblue;
    justify-content: center;
    align-items: center;
  }

  .nomAuteur{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-end;
    padding: 2%;
    color: white;    

  }